
body { 
  margin:0;
  font-family: Georgia, serif;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}  

.flex-child:first-child {
  margin-right: 20px;
} 


/* NAVBAR CSS */

.ddMenu{
  width: 100px;
  height: 150px;
  position: fixed;
  left: 490px;
  text-align: justify;
  line-height:200%;
  box-shadow:2px 3px 5px #999;
}

.ddText{
  position: relative;
  left: 15px;
}

.centerLinks{
  transform: translateX(175%);
  webkit-transform: translateX(-175%);
}


/* HOMEPAGE CSS */

.landingPageImg{
  background-image: url("./Images/landingImg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height:91.5vh;
}

.landingPageTarotLeft{
  text-align: center;
}

.landingPageTarotRight{
  text-align: center;
  position: relative;
  top: 55px;
}

.box {
  width: 30%;
  display:inline-block;
  margin:10px 0;
}


.landingPageCrystalTrio {
  white-space:nowrap;
  text-align:center;
}




